URL_ASSET=<Background Removal Backend Endpoint>
URL_DESCRIBE=<Florence-v2 Description Backend Endpoint>
URL_GENERATE=<Stable Diffusion Image Generation Backend Endpoint>
URL_INPAINTING=<Stable Diffusion Inpainting Backend Endpoint>
URL_INPAINTING_API=<Fal.ai Inpainting Backend Endpoint>
URL_SKETCH_API=<Sketch to Image Backend Endpoint>
SHARED_SECRET_KEY=<Base64 Security Key>
