--extra-index-url https://download.pytorch.org/whl/cu130
accelerate
bitsandbytes
diffusers
einops
fal-client
flask
flask-cors
kornia
modal
numpy
opencv-python
pillow
pycryptodome
python-dotenv
requests
safetensors
scipy
timm
toml
torch
torchvision
transformers==4.57.3
